<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- View port tag for proper rendering -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Git Show</title>

	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
</head>

<body>
	<div class="container-fluid">
		<nav class="row">
			<div class="col-md-9">
				<h1><a href="/">GIT SHOW</a></h1>
			</div>
			<div class="col-md-3">
				<button class="btn btn-default" type="submit">Settings</button>
			</div>
		</nav>