<% include ./partials/header.ejs %>
<div class="col-md-4 col-md-offset-4">
	<a class="btn btn-default" href="/user/candidate/<%= currentCandidate.id %>/edit">Edit</a>
	<%= currentCandidate.username %>
	<%= currentCandidate.lable%>
</div>
<% include ./partials/footer.ejs %>