<% include ./partials/header.ejs %>
		<div class="content-main">
		<p>Create new canidate</p>
			<div class="row text-center">
				<a class="btn btn-default" href="/user">Create</a>
			</div>
		</div>
<% include ./partials/footer.ejs %>