<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Git Show</title>

	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
</head>

<body>
	<p>Hi there</p>
	
</body>
</html>